.dl-autocomplete {
	list-style: none;
	margin: 0;
	padding: 0;
	border: thin solid buttonhighlight;
}

.dl-autocomplete__match {
    cursor: pointer;
}

.dl-autocomplete__match.active {
    background: activecaption;
}
